# Visual Studio
.vs/
*.user
*.suo

# Compilación
*.exe
*.dll
*.pdb
*.cache
*.log
bin/
obj/

# Publicación ClickOnce
*.application
*.manifest

# ReSharper/Rider
.idea/
*.DotSettings

# Temporales
*.tmp
*.bak

# Índices de contenido
.vs/**/FileContentIndex/