# Visual Studio
.vs/
*.user
*.suo

# Compilación
*.pdb
*.cache
*.log
bin/
obj/

# Publicación ClickOnce
*.application
*.manifest

# Archivos de usuario de Rider o ReSharper
.idea/
*.DotSettings

# Archivos temporales
*.tmp
*.bak

# Archivos de índice de contenido de Visual Studio
.vs/**/FileContentIndex/
