<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PuertoCOMimpresora" value="1"/>
	</appSettings>
	<connectionStrings>
		<add name="Epos" connectionString="Data Source=vcaronibd1\vcaronibd1;Initial Catalog=BD013;Persist Security Info=True;User ID=interconexion;Password=interconexion" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>